//Variables
$website-width: 1400px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: rgb(0, 0, 0);
$bg-image: url("../img/showcase.jpg");

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $light-color;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

//Functions

.container {
  max-width: $website-width;
  padding: 1rem;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.bottom-line {
  width: 48px;
  height: 2px;
  background-color: $main-color;
  margin: 15px auto;
}
.main-color {
  color: $main-color;
}
