//Variables
$website-width: 1400px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: rgb(51, 51, 51);
$bg-image: url("../img/showcase.jpg");

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $light-color;
}
p {
  font-size: 1.1rem;
}
ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

//Functions

.container {
  max-width: $website-width;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  .cont-h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 1rem;
  }
  .cont-p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.bottom-line {
  width: 48px;
  height: 2px;
  background-color: $main-color;
  margin: 15px auto;
}
.main-color {
  color: $main-color;
}
