@import "config";

// Header home
#main-inner {
  background: url(../img/showcase.jpg) no-repeat 30% 30% / cover;
  height: 90px;
  color: $light-color;
  border-bottom: solid 3px $main-color;
}
#header-home {
  background: url(../img/showcase.jpg) no-repeat center left / cover;
  height: 100vh;
  color: $light-color;

  //Home Header Text
  #header-text {
    padding-top: 20%;
    text-align: center;
    line-height: 3.5rem;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
    a {
      padding: 20px 30px;
      font-size: 1rem;
      color: $dark-color;
      cursor: pointer;
      background-color: $light-color;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    a:hover {
      background-color: $main-color;
    }
  }
}
//Main Navigation Menu
#main-nav {
  display: flex;
  justify-content: space-between;
  img {
    width: 70px;
    height: 100%;
  }
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 16px;
  }

  a {
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: transparent solid 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  a:hover {
    border-bottom: $main-color solid 3px;
  }
  .current {
    border-bottom: $main-color solid 3px;
  }
}

//Home A:Speciality
#home-a {
  background-color: #ffffff;
  .container {
    text-align: center;
    h2 {
      font-size: 2rem;
      font-weight: 300;
    }
    p {
      font-size: 1.3rem;
    }
    .speciality {
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

//Home-b: Stats
#home-b {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  ul {
    text-align: center;
    padding: 3rem;
    .stats-title {
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    .stats-number {
      font-size: 2rem;
      font-weight: 1000;
      padding-bottom: 1rem;
    }
  }
  ul:nth-child(even) {
    background-color: $medium-color;
  }
}

//Home C: Process
#home-c {
  background-color: #ffffff;
  padding-top: 2rem;
  .container {
    text-align: center;
    h2 {
      font-size: 2rem;
      font-weight: 300;
    }
    p {
      font-size: 1.3rem;
    }
    .process {
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      div {
        .process-icon {
          background-color: $dark-color;
          width: 80px;
          height: 80px;
          line-height: 80px;
          padding: 2rem;
          position: relative;
          color: #ffffff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          transition: all 1s;
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -ms-transition: all 1s;
          -o-transition: all 1s;
          margin: 10px auto;
          div {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            font-size: 26px;
            padding: 0.5rem;
            line-height: 30px;
            background-color: $main-color;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            margin: 10px auto;
          }
          &:hover {
            background-color: $main-color;
            width: 90px;
            height: 90px;
            line-height: 90px;
            div {
              background-color: $dark-color;
            }
          }
        }
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

//Contact Form

#contact-form {
  .container {
    padding: 2.5rem;
    text-align: center;
    h1 {
      font-size: 2.3rem;
      font-weight: 500;
    }
    p {
      font-size: 1.4rem;
    }
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
}

// footer
footer {
  background: $dark-color;
  .container {
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0rem;
        border: solid 2px #ffff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-align: center;
        margin: 10px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
      }
      i:hover {
        background-color: $main-color;
      }
    }
  }
}
